{
    "env": {
      "browser": true,
      "node": true,
      "es2022": true
    },
    "parserOptions": {
      "ecmaVersion": 2022,
      "sourceType": "module"
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:react-hooks/recommended",
      "plugin:react/jsx-runtime",
      "plugin:prettier/recommended",
      "plugin:import/errors",
      "plugin:import/warnings",
      "airbnb/base"
    ],
    "plugins": ["@babel", "react", "react-hooks", "prettier"],
    "rules": {
      "object-curly-newline": ["error", {
        "ObjectExpression": { "multiline": true, "minProperties": 2},
        "ObjectPattern": { "multiline": true },
        "ImportDeclaration": "never",
        "ExportDeclaration": { "multiline": false, "minProperties": 3 }
      }],
      "indent": ["error", 2, {"SwitchCase": 1}],
      "prettier/prettier": "error",
      "quotes": ["error", "single"],
      "react/react-in-jsx-scope": "off",
      "import/no-unresolved": [2, { "caseSensitive": false }],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "import/order": [
        2,
        {
          "groups": [
            "builtin",
            "external",
            "internal",
            "parent",
            "sibling",
            "index"
          ],
          "newlines-between": "always"
        }
      ],
      "no-unused-vars": [
        "off",
        {
          "varsIgnorePattern": "React"
        }
      ],
      //"tabWidth": 2,
      "linebreak-style": [0, "unix"],
      "operator-linebreak": [0, "after"],
      "singleQuote": 0,
      "import/no-named-as-default": 0,
      "import/extensions": ["off"],
      "react/prop-types": 0,
      "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
      "class-methods-use-this": [
        "error",
        {
          "exceptMethods": ["render"]
        }
      ],
      /* "no-invalid-this": 0, */
      "@babel/no-invalid-this": "error"
      
      //add customize rules here as per your project's needs
    },
    "settings": {
      "react": {
        "version": "detect",
        "defaultVersion": "18.3.1"
      },
      "arrow-body-style": ["never"]
    }
}